.events {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.event-slide {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper.swiper {
    width: 500px;
    height: fit-content;
}

.mySwiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    /* font-size: 22px;
    font-weight: bold;
    color: #fff; */
}