.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #000000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    width: 200px; 
    
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
    color: #000000;
  }
  
  .dropdown-menu li:hover {
    background-color: #d9d9d9;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  